/* test to commit to new branch */
body{
	background-color: rgba(0,0,0,.9);
	margin: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

/*
.showcase:hover .content{
	filter: blur(2px);
	-webkit-filter: blur(2px);
}
*/
.showcase:hover::after{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}

/* inserting picture after showcase as if it were in the DOM */
.showcase::after{
	content:'';
	height: 100vh;
	width: 100%;
	background-image: url(img/showcase-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transition: all 1s;
}

.content{
	position: absolute;  /* puts logo inside of showcase image instead of having it on top */
	z-index: 1;
	top: 10%;
	left: 43%;
	margin-top: 150px;
	transition: all 1.2s;
}

.align-right{
	text-align: right;
}

.content .logo{
	width: 200px;
}

.title{
	font-size: 2.2rem;
	margin-top: 1rem;
}

.content .text{
	margin-top: .5rem;
}

.container{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 2.5rem;
}

.grid-3{
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2{
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr 1fr;
}

.center{
	text-align: center;
	margin-bottom: auto;
}

.center-icon{
	text-align: center;
	margin: auto;
}

.bg-light{
	background-color: #f4f4f4;
	color: #333;
}

.bg-dark{
	background-color: #333;
	color: #f4f4f4;
}

footer p{
	margin:0;
	padding: 2.5rem;
}

/* landscape view */

@media(max-height: 500px){
	.content .title, .content .text{
		display: none;
	}

	.content{
		top: 5%;
	}
}

/* attempt at a glitch effect from Felix Rilling on codepen */

.text {
  text-align: center;
  color: #fff;
  font-weight: 400;
  position: absolute;
  margin: 0;
  line-height: 0;
	animation: glitch1 2s infinite;
}

.text:nth-child(2) {
  color: #18dcff;
	animation: glitch2 2s infinite;
}
.text:nth-child(3) {
  color: #ff3838;
	animation: glitch3 2s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
