/* test to commit to new branch */
body{
	background-color: rgba(0,0,0,.9);
	margin: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.showcase:hover .content{
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.showcase:hover::after{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}

/* inserting picture after showcase as if it were in the DOM */
.showcase::after{
	content:'';
	height: 100vh;
	width: 100%;
	background-image: url(img/showcase-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transition: all 1s;
}

.content{
	position: absolute;  /* puts logo inside of showcase image instead of having it on top */
	z-index: 1;
	top: 10%;
	left: 43%;
	margin-top: 150px;
	transition: all 1.2s;
}

.align-right{
	text-align: right;
}

.content .logo{
	width: 200px;
}

.content .title{
	font-size: 2.2rem;
	margin-top: 1rem;
}

.content .text{
	margin-top: .5rem;
}

.container{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 2.5rem;
}

.grid-3{
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2{
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr 1fr;
}

.center{
	text-align: center;
	margin-bottom: auto;
}

.center-icon{
	text-align: center;
	margin: auto;
}

.bg-light{
	background-color: #f4f4f4;
	color: #333;
}

.bg-dark{
	background-color: #333;
	color: #f4f4f4;
}

footer p{
	margin:0;
	padding: 2.5rem;
}

/* add padding for logo and text on medium screeen */

@media(max-width: 800px){
	.content{
		margin-right: 1rem;
	}

/* small screen */

@media(max-width: 560px){
	.showcase::after{
	height: 50vh;
	}

	.content{
		top: 5%;
		margin-top: 5px;
	}

	.content .logo{
		width: 120px;
	}

	.content .text{
		display: none;
	}

	.content .title{
		font-size: 1.3rem;
	}

	.grid-3, .grid-2{
		grid-template-columns: 1fr;
	}

	.services div{
		border-bottom: #333 solid 1px;
		padding: 1.2rem 1rem;
	}
}

/* landscape view */

@media(max-height: 500px){
	.content .title, .content .text{
		display: none;
	}

	.content{
		top: 5%;
	}
}
